    body {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(https://images2.alphacoders.com/123/thumb-1920-1233908.jpg); 
        background-size: cover; 
        background-position: center; 
    }
p {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left; 
    margin-right: 1000px;
    color: #fff;
}

.login-button, .signup-button {
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 15px;
    background-color: transparent;
    color: #fff;
    border: 5px solid white;
    margin-right: 10px; 
    text-decoration: none;
}

.login-button:hover, .signup-button:hover {
    background-color: #ffff;
  color: #000;
}
.navbar {
    margin-bottom: 100px;
    padding-top: 35px;
    padding-left: 130px;
  }
  
  ul {
    position: absolute;
    left: 400px;
  }
  
  nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo a{
    font-size: 40px;
    text-decoration: none;
  }
  
  .text{
    color: white;
  }
  
  .text:hover{
    color:#000
  }
  
  .logo1 {
    position: absolute;
    top: 25px;
    left: 40px;
    background-size: cover;
    transition: background-image 0.3s ease;
  }
  
  .logo1:hover {
    background-image: url('ShapeLift\ Logo\ Hover.png');
    cursor: pointer;
  }
  
  .logo, .logo1{
    position: absolute;
    width: 100px;
    cursor: pointer;
  }
